:root {
  --nb-item: 0;
  --item-nb: 0;
  --selected-item: 0;
}

@font-face {
  font-family: 'Ageya';
  src: url("./fonts/Ageya-Regular.ttf");
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animation-slide-in-left {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-slide-in-left {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#root, html {
  height: 100%;
  min-height: 100vh;
}

body {
  background-color: #F0EFEA;
  color: #646F72;
}

h1 {
  text-transform: uppercase;
  font-size: 100px;
  font-family: "Ageya", serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  position: relative;
  z-index: 100;
}

nav img {
  height: 40px;
}

nav a, nav h3, nav Link {
  color: #646F72 !important;
  cursor: pointer;
  font-family: "Ageya", serif;
  font-size: 15px;
  padding: 8px 16px;
  margin: 0;
}

nav .header-logo {
  z-index: 15;
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-wheel {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px 0 0 20px;
  -webkit-box-shadow: 0 0 15px 0 #5050505d;
          box-shadow: 0 0 15px 0 #5050505d;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 10;
  overflow: hidden;
}

.nav-wheel button {
  height: 33px;
  width: 33px;
  font-size: 25px;
  border-radius: 50%;
  background-color: #646F72;
  color: #F0EFEA;
  font-weight: 800;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  padding: 5px 8px 9px 8px;
  position: absolute;
  top: 15px;
  right: 16px;
  z-index: 100;
}

.nav-wheel h2 {
  font-family: "Ageya", serif;
  color: #646F72 !important;
  font-size: 35px;
  text-align: center;
  margin: 60px 50px 40px;
}

.wheel-container {
  display: block;
  position: relative;
  width: calc(400px + 2 * 3px);
  height: calc(400px + 2 * 3px);
  margin: 0 auto 60px;
}

.wheel-container::before,
.wheel-container::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: solid transparent 15px;
}

.wheel-container::after {
  right: 1px;
  border-right-color: #7F8A8E;
}

.wheel {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: solid #7F8A8E 5px;
  background-color: #9BA7AA;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
  -webkit-transform: rotate(calc(5 * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1))));
          transform: rotate(calc(5 * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1))));
}

.wheel::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  content: '';
  background-color: #7F8A8E;
  width: 15px;
  height: 15px;
  z-index: 2;
  border-radius: 50%;
}

.wheel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
          transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
  color: #FFF;
  text-align: right;
  padding: 0 10px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheel-item p {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 17px;
  margin-right: 20px;
  font-size: 10px;
}

.wheel-item img {
  height: 50px;
}

.wheel-item:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  border: solid transparent calc(calc((calc(3.14159 * 400px + 800px / 2) / var(--nb-item)) - 45px) / 2);
  border-left: solid transparent 0;
  border-right: solid #FFF calc(400px / 2);
}

.progress-bar {
  height: 5px;
  margin-top: 20px;
  background: #646F72;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.file-input {
  width: 100%;
  height: auto;
  padding: 15px 0;
  margin: 0 auto;
  width: 50px;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: '+';
  border-radius: 50% !important;
  color: #F0EFEA;
  background: #646F72;
  padding: 8px 15px 10px;
  cursor: pointer;
  font-size: 20px;
}

.masonry-wrapper {
  -webkit-column-count: 6;
          column-count: 6;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.masonry-wrapper .masonry-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.masonry-wrapper .masonry-item .masonry-content {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 15px;
}

.masonry-item > .masonry-content {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.delete-button {
  margin: 10px auto 40x;
  border-radius: 20px;
  padding: 4px 20px;
  color: #F0EFEA;
  background: #646F72;
  border: none;
  position: absolute;
}

.chart-maker {
  margin-left: 0;
  height: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100%;
  top: 0;
}

.chart-maker .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 30px;
}

.chart-maker .back img {
  width: 12px;
  height: auto;
}

.chart-maker .back h6 {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
}

.chart-maker h2 {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.chart-maker .all-icons {
  border: none;
  border-radius: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  outline: none;
  margin-top: 30px;
  padding: 5px 23px;
  height: 10%;
}

.chart-maker .all-icons .icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chart-maker .all-icons .icons button:disabled img {
  opacity: 0.3;
}

.chart-maker .all-icons .icons img {
  padding: 5px;
  width: 25px;
  margin: 5px;
}

.chart-maker .toggle-symbol-mode {
  margin: 20px 0 10px;
  padding: 0;
}

.chart-maker .toggle-knitting-mode {
  margin: 0 0 20px;
  padding: 0;
}

.chart-maker .toggle-knitting-mode .knitting-mode-rows div {
  border: none;
  border-radius: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  outline: none;
  padding: 5px 10px;
  margin: 0 10px;
}

.chart-maker .toggle-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.chart-maker .toggle-and-title .switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.chart-maker .toggle-and-title svg {
  height: 27px;
  color: #646F72;
}

.chart-maker .toggle-symbol-mode img, .chart-maker .toggle-knitting-mode img {
  padding: 0;
  width: 20px;
  margin: 5px;
}

.toolbar {
  -webkit-animation: animation-slide-in-left 3s;
          animation: animation-slide-in-left 3s;
  background-color: #E7E6E1;
  z-index: 10;
  min-height: 100%;
  position: absolute;
  padding-left: 100px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 0 30px #5050505d;
          box-shadow: 0 0 30px #5050505d;
}

.toolbar .back-col-row {
  padding: 0;
}

.toolbar .columns-rows {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toolbar .columns-rows #cols, .toolbar .columns-rows #rows {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  outline: none;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  padding: 3px 7px;
}

.toolbar .columns-rows label {
  font-size: 15px;
}

.toolbar .colors {
  margin-top: 20px;
  padding: 0;
}

.toolbar .colors .pick-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toolbar .colors .picked-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.toolbar .colors .picked-colors .circle-picker {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 90%;
}

.toolbar .colors .picked-colors .chrome-div {
  display: contents;
}

.toolbar .colors .picked-colors .chrome-picker {
  font-family: "Open Sans Condensed", sans-serif;
  position: absolute;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 7px 0 #5050505d !important;
          box-shadow: 0 0 7px 0 #5050505d !important;
  right: 55px;
  z-index: 10;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
}

.toolbar .colors .picked-colors button {
  height: 25px;
  width: 25px;
  font-size: 22px;
  border-radius: 50%;
  background-color: #646F72;
  color: #F0EFEA;
  font-weight: 800;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  padding: 3px 5px 7px 5px;
  margin-top: 3px;
}

label {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

#title, select {
  border: none;
  border-radius: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  outline: none;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 3px 7px;
}

select {
  padding: 0 7px;
}

button {
  border: none;
  background: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.active {
  visibility: visible;
  margin: top 0;
  -webkit-animation: fadein 0.5s linear;
          animation: fadein 0.5s linear;
}

.inactive {
  visibility: hidden;
  -webkit-animation: fadeout 0.5s linear;
          animation: fadeout 0.5s linear;
  -webkit-transition: visibility 0.5s linear;
  transition: visibility 0.5s linear;
}

.random-chart, .download {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  outline: none;
  padding: 5px 15px 5px 5px;
  margin: 10px 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #646F72;
}

.random-chart img, .download img {
  padding: 5px;
  width: 25px;
  margin: 5px;
  margin: 0 !important;
}

.toolbar-bottom-buttons {
  padding: 0;
}

.col-lg-8 {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.col-lg-8 #grid {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10% 10% auto;
  background-color: #F0EFEA;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-lg-8 .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  position: absolute;
}

.rendered-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rendered-row .stich {
  border: 1px solid #e2e2e2;
  text-align: center;
}

.rendered-row .stich::-moz-selection {
  background: transparent;
}

.rendered-row .stich::selection {
  background: transparent;
}

.selected {
  opacity: 1 !important;
}

.rCS154w68a {
  border: 1px solid #646f72 !important;
  background: rgba(100, 111, 114, 0.3) !important;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tooltip, button, .wrapper, .knitting-mode-rows {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  margin-left: 30px;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  position: absolute;
}

.wrapper .tooltip-label {
  padding: 3px 8px;
  color: #746a6a;
  background-color: #e4e4e4;
  -webkit-box-shadow: 0 0 7px 0 #5050505d;
          box-shadow: 0 0 7px 0 #5050505d;
  border-radius: 4px;
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  .nav-wheel.active {
    z-index: 15;
  }
  label {
    font-size: 15px;
  }
  .nav-wheel {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
  }
  .col-lg-8, .toolbar {
    position: relative;
  }
  #grid {
    min-width: auto !important;
    margin: auto !important;
  }
  .back-col-row, .colors, .all-icons {
    margin: 0 auto;
  }
  #title, #cols, #rows, select {
    height: 25px;
  }
  .chart-maker .row {
    background-color: #E7E6E1;
    padding-left: initial;
    margin: 0 auto;
  }
  .chart-maker .row > * {
    padding: initial;
  }
  .chart-maker h2 {
    font-size: 15px;
  }
  .chart-maker .toggle-and-title {
    margin-bottom: 10px;
  }
  .chart-maker .toggle-and-title button:disabled svg {
    opacity: 0.3;
  }
  .chart-maker .toggle-symbol-mode, .chart-maker .toggle-knitting-mode {
    margin: 20px auto !important;
    width: 30%;
  }
  .chart-maker .knitting-mode-rows div {
    height: 25px;
    padding: 0 10px !important;
  }
  .chart-maker .toolbar .all-icons {
    padding: 5px;
    margin-top: 20px;
    height: auto;
  }
  .chart-maker .toolbar .columns-rows {
    margin-top: 10px;
  }
  .chart-maker .toolbar .colors .picked-colors button {
    margin-top: 0 !important;
    height: 23px !important;
    width: 23px !important;
  }
  .chart-maker .circle-picker {
    max-width: 100% !important;
  }
  .chart-maker .circle-picker .chrome-picker {
    right: 65px;
  }
  .chart-maker .circle-picker span div {
    width: 23px !important;
    height: 23px !important;
  }
  .chart-maker .toolbar-bottom-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chart-maker .random-chart, .chart-maker .download {
    margin: 10px auto 20px;
    width: 35%;
    font-size: 15px;
    padding: 2px 15px 2px 5px;
  }
}

@media screen and (max-width: 576px) {
  .wheel-container {
    width: calc(300px + 2 * 3px);
    height: calc(300px + 2 * 3px);
  }
  .wheel {
    width: 300px;
    height: 300px;
  }
  .wheel-item img {
    height: 30px;
  }
  .wheel-item:before {
    border: solid transparent calc(calc((calc(3.14159 * 400px + 800px / 2) / var(--nb-item)) - 45px) / 2);
    border-right: solid #FFF calc(400px / 2);
  }
}
